scrapping/scrapy + descargar datasets v0.ipynb
scrapping/scrapy table Meteorological stations  .ipynb
scrapping/scrapy + descargar datasets v1.ipynb
scrapping/scrapy table Meteorological stations .py
soil_data/isric.py
soil_data/openlandmap.py
weather_data/donmario_notebooks_notebooks_ArgentinaINTA.ipynb
weather_data/donmario_notebooks_notebooks_MasiveAnalysis_INTAvsNASA.ipynb
weather_data/smap.py
weather_data/agritempo.py
